@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    background-color: rgb(29, 25, 35);
}

.topnav {
    background-color: #333;
    overflow: hidden;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;
    position: relative;

}

.main_title{
    color: white;
    font-family: 'Open Sans';
    padding-left: 20px;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 30px;
    letter-spacing: 3px;
}

.topnav a:hover {
    color: black
}

.topnav a.active {
    background: #04AA;
}


.last{
    color: white;
    font-family: 'Open Sans';
}

.about-h1{
    text-align: center;
}

.about-us{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 50px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    color: white;
    word-spacing: 10px;
    background-color: black;
}

hr{
    width: 260px;
}

